MYSQL_ROOT_PASSWORD=root
NOTIFICATION_DB_USER=notification
NOTIFICATION_DB_PASSWORD=notification
ALERT_PROCESSOR_DB_USER=alert_processor
ALERT_PROCESSOR_DB_PASSWORD=alert_processor
KAFKA_ALERTS_TOPIC=notifications.alerts.requested
KAFKA_ALERTS_DLT=notifications.alerts.requested.dlt
DELIVERY_FAILING_CLIENT_IDS=99999
SWAGGER_ENABLED=true
